.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Lato;
    font-size: 13px;
}

.y.axis .tick line {
    opacity: 0.1;
}

.x.axis .tick line {
  stroke: none;
}

.axis .domain {
  stroke: none;
}

.network-chart {
  max-width: 1140px;
  margin: 50px auto;
  min-height: 200px;
}

.line,
.dot-upstream,
.dot-downstream {
  opacity: 0;
}

.dot-upstream {
  fill: #8c489a;
}

.dot-downstream {
  fill: #e12053;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 50px;
  padding: 4px;
  font: 12px sans-serif;
  background: #fff;
  color: #000;
  border: 0px;
  pointer-events: none;
  opacity: 1;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  border: 1px solid #000;
}

.tooltip-date {
  margin: 5px auto;
}
